*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color:#424141;
    color:white;
    padding: 15px 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    text-decoration: underline;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
}

.product-card{
    border:1px solid #ddd;
    padding:15px;
    text-align:center;
    border-radius: 5px;
}
.product-card:hover{
    width:100%;
    height:180px;
    object-fit: cover;
}
.price{
    color:green;
    font-weight: bold;
    margin:10px 0;
}
button{
    padding:10px 15px;
    border:none;
    background-color:#ff6600;
    color:white;
    cursor: pointer;
    border-radius: 5px;
}
button :hover{
    background-color:#e45c02;
}

footer{
    background-color:#333;
    color:white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}